/* Khatami Indra Ghifari - FSW - 5 */

* {
    font-family: Helvetica, sans-serif;
}

/*Format Button & Text*/
h1 {
    color: black;
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
}

h2 {
    color: black;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

p {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.nav-item-btn {
    color: #FFFFFF;
    padding: 8px 15px;
    border-radius: 2px;
    display: inline-block;
    background: #5CB85F;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.nav-item-btn:hover {
    color: #FFFFFF;
    background: #409b43;
}

main .row, .footer {
    padding-top: 120px;
    padding-left: 30px;
}

.btn, .btn:hover{
    background-color:#5CB85F !important;
    border-color: #5CB85F !important;
    color: #FFFFFF;
}
/*Format Button & Text*/

/*Navbar*/
.navbar {
    background: #F1F3FF;
}

.navbar .nav-item .nav-link {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px;
    padding: 0;
}

.navbar .nav-item .nav-link:hover {
    color: #0D28A6;
}
/*/Navbar*/

/*Hero*/
.hero {
    background: #F1F3FF;
    padding-bottom: 0rem;
    padding-top: 100px;
    position: relative;
}

.hero p {
    width: 85%;
    margin-bottom: 10px;
}

.hero h1 {
    width: 100%;
    padding-top: 20px;
}

.rectangle {
    position: absolute;
    width: 50%;
    height: 205px;
    background: #0D28A6;
    right: 0;
    bottom: 0;
    border-radius: 55px 0 0 0;
    z-index: 1;
}

.hero img {
    position: relative;
    right: 0;
    width: 100%;
    z-index: 1;
}
/*Hero*/

/* Form Sewa Mobil */
.Form-sewa{
    display: flex;
    justify-content: center;
}

.form-content{
    padding-top: 0px !important;
    width: 1050px;
    height: 150px;
    align-items: center;
    background: white;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    position: relative;
    Top: -50px;
    left: 135px;
    z-index: 1;
}

.searchButton {
    margin-top: 60px;
}

/* Cars Card */
#cars-container {
    display: flex;
    padding-top: 0%;
    justify-content: center;
}

.cars-card{
    width: 350px;
    height: 550px;
    padding-top: 30px;
    align-items: center;
    background: white;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    margin: 10px;
}

.cars-title {
    padding-top: 5%;
}

.cars-price, .cars-subtitle {
    padding-top: 0 !important;
}

.carscard-images {
    width: 300px;
    height: 200px;
    padding-left: 10%;
    object-fit: cover;
}

.cars-subtitle {
    height: 100px;
}

.chooseButton {
    margin-top: 30px;
}

/*Footer*/
footer a {
    font-size: 14px;
}

footer .footer_social {
    margin-right: 10px;
}
/*Footer*/

/* Responsive for medium devices (less than 992px) */
@media (max-width : 992px) {

    /* NAVBAR  */
    .offcanvas {
        width: 250px !important;
        background-color: white;
    }

    .offcanvas-start-lg {
        top: 0;
        right: 0;
        border-right: 1px solid rgba(0, 0, 0, .2);
        transform: translateX(100%);
    }

    .offcanvas-body {
        flex-grow: 1;
        padding: 0rem 0rem;
        overflow-y: auto;
    }

    .offcanvas-header {
        padding: 1rem 1.3rem;
    }

    .offcanvas .nav-item-btn {
        margin-right: 8rem;
    }

    .nav-item {
        margin-top: 0 !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar .nav-item .nav-link {
        padding-top: 0;
    }

    .navbar-light .navbar-toggler {
        border: none;
    }
    /* /NAVBAR */

    /* HERO */
    .hero {
        background: #F1F3FF;
        padding-bottom: 0rem;
        padding-top: 60px;
        position: relative;
    }

    .hero p {
        width: 80%;
    }

    .hero h1 {
        width: 80%;
        padding-top: 20px;
    }

    .rectangle {
        position: absolute;
        width: 95%;
        height: 170px;
        background: #0D28A6;
        right: 0;
        bottom: 0;
        border-radius: 55px 0 0 0;
        z-index: 1;
    }

    .hero img {
        position: relative;
        right: 0;
        width: 100%;
        margin-top: 2rem;
        z-index: 1;
    }
    /* /HERO */
}