/* Khatami Indra Ghifari - FSW - 5 */

* {
    font-family: Helvetica, sans-serif;
}

/*Format Button & Text*/
h1 {
    color: black;
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
}

.btn-primary {
    background-color: #5CB85F;
}

h2 {
    color: black;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

p {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.nav-item-btn {
    color: #FFFFFF;
    padding: 8px 15px;
    border-radius: 2px;
    display: inline-block;
    background: #5CB85F;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.nav-item-btn:hover {
    color: #FFFFFF;
    background: #409b43;
}
/*Format Button & Text*/

/*Navbar*/
.navbar {
    background: #F1F3FF;
}

.navbar .nav-item .nav-link {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px;
    padding: 0;
}

.navbar .nav-item .nav-link:hover {
    color: #0D28A6;
}
/*/Navbar*/

/*Hero*/
.hero {
    background: #F1F3FF;
    padding-bottom: 0rem;
    padding-top: 100px;
    position: relative;
}

.hero p {
    width: 85%;
    margin-bottom: 10px;
}

.hero h1 {
    width: 100%;
    padding-top: 20px;
}

.rectangle {
    position: absolute;
    width: 50%;
    height: 205px;
    background: #0D28A6;
    right: 0;
    bottom: 0;
    border-radius: 55px 0 0 0;
    z-index: 1;
}

.hero img {
    position: relative;
    right: 0;
    width: 100%;
    z-index: 1;
}
/*Hero*/

/*Services*/
.our-services {
    margin-top: 100px;
}

.our-services .services-body {
    margin-bottom: 10px;
}

.our-services .icon-box {
    float: left;
    margin-right: 12px;
}

.our-services .value {
    line-height: 28px;
    font-weight: 300;
}

.our-services .item-check {
    margin-bottom: 10px;
}
/*Services*/

/*Why Us*/
.why-us {
    margin-top: 50px;
}

.why-us .why-header {
    margin-bottom: 30px;
}

.card-body {
    padding: 1.5rem 1.5rem;
  }

.why-us .card {
    background: #fff;
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
}

.why-us .card-title {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.why-us .card-text {
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
/*Why Us*/

/*Testimonial*/
.owl-carousel {
    overflow: hidden;
}
  
.owl-carousel .owl-item img {
    width: auto;
}
  
.owl-nav {
    margin: 24px 0 0;
    text-align: center;
}
  
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    margin: 0 20px;
    height: 32px;
    width: 32px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}
  
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: #5CB85F;
    border: none;
    color: #fff;
}

.testimonial {
    margin-top: 50px;
}

.testimonial .testi-header {
    margin-bottom: 30px;
    text-align: center;
}

.bg-testimonial {
    background-color: #e3d9ff;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
    height: 270px;
    border-radius: 8px;
}
  
.title {
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
}
  
.img-testi {
    display: flex;
    justify-content: center;
}
  
.img-testi img {
    width: 80px;
    height: 80px;
}
  
.star img {
    float: left;
    margin-bottom: 8px;
}
  
.card-testi {
    position: relative;
    float: left;
    text-align: left;
    padding-right: 32px;
}
  
.card-testi p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 8px;
}
  
.card-user {
    position: relative;
    float: left;
    text-align: left;
}
  
.card-user p {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
/*Testimonial*/

/* About*/
.about {
    margin-top: 50px;
}

.about .card {
    color: white;
    background: #0D28A6;
    padding: 70px 50px;
    border-radius: 13px;
}

.about .card-title {
    color: #FFFFFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
}

.about .card-text {
    color: #dfdede;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
}
/* About*/

/*FAQ*/
.faq {
    margin-top: 50px;
}

.faq .accordion-item {
    margin-bottom: 20px;
    border: 1px solid #D4D4D4;
}

.faq .accordion-button {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
}

.faq .accordion-body {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
}
/*FAQ*/

/*Footer*/
footer a {
    font-size: 14px;
}

footer .footer_social {
    margin-right: 10px;
}
/*Footer*/

/* Responsive for medium devices (less than 992px) */
@media (max-width : 992px) {

    /* NAVBAR  */
    .offcanvas {
        width: 250px !important;
        background-color: white;
    }

    .offcanvas-start-lg {
        top: 0;
        right: 0;
        border-right: 1px solid rgba(0, 0, 0, .2);
        transform: translateX(100%);
    }

    .offcanvas-body {
        flex-grow: 1;
        padding: 0rem 0rem;
        overflow-y: auto;
    }

    .offcanvas-header {
        padding: 1rem 1.3rem;
    }

    .offcanvas .nav-item-btn {
        margin-right: 8rem;
    }

    .nav-item {
        margin-top: 0 !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar .nav-item .nav-link {
        padding-top: 0;
    }

    .navbar-light .navbar-toggler {
        border: none;
    }
    /* /NAVBAR */

    /* HERO */
    .hero {
        background: #F1F3FF;
        padding-bottom: 0rem;
        padding-top: 60px;
        position: relative;
    }

    .hero p {
        width: 80%;
    }

    .hero h1 {
        width: 80%;
        padding-top: 20px;
    }

    .rectangle {
        position: absolute;
        width: 95%;
        height: 170px;
        background: #0D28A6;
        right: 0;
        bottom: 0;
        border-radius: 55px 0 0 0;
        z-index: 1;
    }

    .hero img {
        position: relative;
        right: 0;
        width: 100%;
        margin-top: 2rem;
        z-index: 1;
    }
    /* /HERO */

    /* WHY US */
    .why-header {
        margin-bottom: 30px;
        text-align: center;
    }
    /* /WHY US */

    /* TESTIMONIAL */
    .bg-testimonial {
        padding: 40px;
        height: auto;
      }
    
      .star {
        display: flex;
        justify-content: center;
      }
    
      .star img {
        margin-top: 24px;
        margin-bottom: 24px;
      }
    /* /TESTIMONIAL */

    /* FAQ */
    .faq-header {
        margin-bottom: 30px;
        text-align: center;
    }
    /* /FAQ */
}